<nav class="navbar navbar-expand-lg mynav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="dashboard">DashBoard</a>
          </li>
          <li class="nav-item">
            <button (click)="onSubmit()">{{adminView ?'Create User':'Create Task'}}</button>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    {{openDialog}}
    <ng-container *ngIf="openDialog">
      <app-create-user [adminUser]="createUser" (closeDialogEmiter)="closeDialogue($event)" [userForm]="descForm" > </app-create-user>
      <!-- <app-create-task [xys]="createTask" (closeDialogEmiter)="closeDialogue($event)"></app-create-task> -->
 </ng-container>
  </nav>