<div *ngIf = "xys" class="dialog">
    <div class="dialog-content">
        <form (ngSubmit)="onSubmit()">
            <label> TaskName : <input type="text" [(ngModel)]="name" name="name" required>
            </label>
            <br>
            <label> Assigned to : <input type="text" [(ngModel)]="email" name="email" required>
            </label>
            <br>
            <label> Project Id :<select >   
              <option >Choose Role</option>  
              <option *ngFor="let web of projects">{{web.projectName}}</option>  
            </select> 
          </label>
            <br>
            <label> Type : <input type="text" [(ngModel)]="password" name="Username" required>
            </label>
            <br>
            <label> Prioity : <input type="text" [(ngModel)]="password" name="Designation" required>
            </label>
            <!-- <select formControlName="website" class="form-control">  
              <option disabled>Select Website</option>  
              <option>Choose Website</option>  
              <option *ngFor="let web of list">{{web}}</option>  
            </select>   -->
            <br>
  
            <button class="button-6" type="submit">Submit</button>
          </form>
  
        <button class="closeDia" (click)="closeDialog()">Close</button>
    </div>
    
  </div>