<div *ngIf = "xys" class="dialog">
    task
    <div class="dialog-content">
        <!-- <form (ngSubmit)="onSubmit()">
            <label> TaskName <input type="text" [(ngModel)]="name" name="name" required>
            </label>
            <br>
            <label> Assigned to: <input type="email" [(ngModel)]="email" name="email" required>
            </label>
            <br>
            <label> Something <input type="password" [(ngModel)]="password" name="password" required>
            </label>
            <br>
            <br>
            <label> Something: <input type="username" [(ngModel)]="password" name="Username" required>
            </label>
            <br>
            <br>
            <label> Something : <input type="text" [(ngModel)]="password" name="Designation" required>
            </label>
            <br>
            <br>
            <select formControlName="website" class="form-control">  
              <option disabled>Select Website</option>  
              <option>Choose Website</option>  
              <option *ngFor="let web of list">{{web}}</option>  
            </select>  
            <br>
  
            <button type="submit">Submit</button>
          </form> -->
  
        <button (click)="closeDialog()">Close</button>
    </div>
    
  </div>