<div *ngIf = "xys" class="dialog">
    <div class="dialog-content">
        <form (ngSubmit)="onSubmit()">
            <label> Name: <input type="text" [(ngModel)]="name" name="name" required>
            </label>
            <br>
            <label> Email: <input type="email" [(ngModel)]="email" name="email" required>
            </label>
            <br>
            <label> Password: <input type="password" [(ngModel)]="password" name="password" required>
            </label>
            <br>
            <br>
            <label> Username: <input type="username" [(ngModel)]="password" name="Username" required>
            </label>
            <br>
            <br>
            <label> Designation: <input type="text" [(ngModel)]="password" name="Designation" required>
            </label>
            <br>
            <br>
            <label> Role: <ul>
                <li>Admin</li>
                <li>User</li>
            </ul>
            </label>
            <br>

            <button type="submit">Submit</button>
          </form>

        <button (click)="closeDialog()">Close</button>
    </div>
    
</div>

