<div *ngIf = "adminUser" class="dialog">
  <div class="dialog-content">
      <form (ngSubmit)="onSubmit()"  >
          <label> Name: <input type="text" [(ngModel)]="name" name="name" required >
          </label> 
          <br>
          <label> Email: <input type="email" [(ngModel)]="email" name="email" required>
          </label>
          <br>
          <label> Password: <input type="password" [(ngModel)]="password" name="password" required>
          </label>
          <br>
          <label> Username: <input type="username" [(ngModel)]="password" name="Username" required>
          </label>
          <br>
          <label> Designation: <input type="text" [(ngModel)]="password" name="Designation" required>
          </label>
          <br>
          <label>Role :<select >   
            <option >Choose Role</option>  
            <option *ngFor="let web of list">{{web}}</option>  
          </select> 
        </label>
          <br>
          <button class="button-6" type="submit">Submit</button>
        </form>

      <button class="closeDia"  (click)="closeDialog()">Close</button>
  </div>
  
</div>




